@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../public/fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../public/fonts/open-sans-v34-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/open-sans-v34-latin-700.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Open Sans 300';
  src: url('../public/fonts/open-sans-v34-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/open-sans-v34-latin-300.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Open Sans 400';
  src: url('../public/fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../public/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url('../public/fonts/montserrat-v25-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-200.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../public/fonts/montserrat-v25-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-300.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Middle';
  src: url('../public/fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-500.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../public/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-700.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('../public/fonts/montserrat-v25-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/montserrat-v25-latin-900.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Font Awesome Webfont';
  src: url('../public/fonts/fontawesome-webfont.woff') format('woff'),
    /* Super Modern Browsers */ url('../public/fonts/fontawesome-webfont.woff2')
      format('woff2'); /* Modern Browsers */
}
/* @font-face {
  font-family: 'Font Awesome';
  src: url('../public/fonts/FontAwesome.eot');
} */
@layer base {
  a {
    /* @apply text-blue-900; */
    cursor: pointer;
  }
}

@layer utilities {
  h1 {
    padding: 0 0 14px 0;
    font-size: 1.3em;
    font-family: 'Open Sans 400';
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(31 41 55);
  }

  h2 {
    padding: 0 0 10px 0;
    font-size: 1.1em;
    color: rgb(55 65 81);
    font-family: 'Open Sans 400';
    letter-spacing: 3px;
  }

  h3 {
    font-size: 0.9em;
    color: rgb(55 65 81);
    font-family: 'Open Sans 300';
    letter-spacing: 2px;
  }
  p {
    /* font-size: 0.9em; */
    /* color: rgb(55 65 81);
    font-family: 'Open Sans 300';
    letter-spacing: 2px; */
  }

  a {
    /* margin-top: 15px; */
    color: gray;
    text-decoration: none;
  }
  a :hover {
    color: #fff;
  }
  li {
    padding: 0 0 10px 0;
    margin-left: 16px;
    list-style-type: disc;
    color: rgb(55 65 81);
  }

  .active {
    color: white;
    font-weight: 400;
  }

  .activeGray {
    color: black;
    font-weight: 400;
    text-shadow: #000000 0px 0px 1px;
  }

  .active_category {
    color: white;
    background: #000;
    font-weight: 400;
    /* padding: 5px 10px; */
  }

  .section_header {
    font-size: 1.5em;
    font-family: 'Montserrat Middle';
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(31 41 55);
  }

  .section_sub_header {
    font-size: 1em;
    color: rgb(55 65 81);
    font-family: 'Open Sans 300';
    letter-spacing: 3px;
  }

  .section_body {
    font-family: 'Open Sans 400';
    color: rgb(236, 222, 204);
    font-size: 1em;
  }
  .project_title {
    font-family: 'Montserrat Middle';
    font-size: 1.4em;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .txt_header {
    font-family: 'Montserrat Middle';
    font-size: 1.1em;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .txt_sub_header {
    font-family: 'Montserrat Light';
    font-size: 0.8em;
    /* color: #000; */
    color: rgb(50, 50, 50);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .project_sub_title {
    font-family: 'Montserrat Light';
    font-size: 1.2em;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .social_icons {
    background-color: rgb(88, 88, 88);
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
  }

  .imprint_headers {
    font-family: 'Open Sans 400';
    padding-top: 40px;
    font-size: 1.1em;
    color: #000;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
  }

  /* Swiper  */

  .swiper-pagination-bullet {
    background: #fff;

    border: 1px solid rgb(77, 77, 77);
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #000;
    border: 1px solid rgb(77, 77, 77);
    width: 13px;
    height: 13px;
    opacity: 1;
  }

  /* ====================== [ Cursor Style ] ====================== */
  .mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
  }

  .cursor-inner {
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: #12c2e9;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .cursor-inner.cursor-hover {
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    background-color: #12c2e9;
    opacity: 0.3;
  }

  .cursor-outer {
    margin-left: -12px;
    margin-top: -12px;
    width: 30px;
    height: 30px;
    border: 1px solid #12c2e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.5;
    -webkit-transition: all 0.08s ease-out;
    -o-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
  }

  .cursor-outer.cursor-hover {
    opacity: 0;
  }
}

/* ====================== [ End Cursor Style ] ====================== */

/* ====================== [ Start progress-wrap ] ====================== */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome Webfont';
  content: '\f077';
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 300;
  color: gray;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: gray;
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

/* ====================== [ End progress-wrap ] ====================== */
